/*! ghostship.css */

.container { max-width: 700px; }
header#site-header, .post {
  min-height: 0;
  height: auto;
  margin-bottom: 7em;
}
.blog-description, .post-excerpt { color: black; }
.post-excerpt a { font-weight: bold; }
ul { list-style-position: outside; }

@media screen and (max-width: 800px) {
  header#site-header, .post {
    margin-bottom: 6em !important;
  }
}
