
.container { max-width: 700px; }
header#site-header { min-height: 0; }
#site-header, .post { margin-bottom: 7em; }

.blog-description, .post-excerpt p { color: black; }
.post-excerpt a { font-weight: bold; }

@media (max-width: 800px) {
  #site-header { margin-bottom: 6em !important; }
  .post { margin-bottom: 4em !important; }
}
